@import "../../cutils.scss";
.card10 {
  box-shadow: none;
  .bg-image {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    .content {
      color: $base-bg-color;
      .post-meta {
        padding: 1rem 0;
        .title {
          color: $base-bg-color;
          font-weight: bold;
        }
        .subtitle {
          color: $base-bg-color;
        }
        .author {
          font-size: 1rem;
        }
      }
    }
  }
}


@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 575.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 991.98px) {
  .card10 {
    .bg-image {
      // height: 250px;
      // background-repeat: no-repeat;
      border: 1px solid black;
      background-size: cover;
      .content {
        color: $base-bg-color;
      }
    }

    .title {
      font-weight: bold;
      font-size: 1.5rem;
    }
    .subtitle {
      font-size: 1.2rem;
    }
    .post-meta {
      .author {
        font-size: 0.85rem;
      }
    }
  }
}
@media (max-width: 1199.98px) {
}
