@import "../../cutils.scss";
.card10 {
  box-shadow: none;
    .content {
      .post-meta {
        padding: 1rem 0;
        .subtitle {
          font-size: 0.8rem;
          font-weight: bold;
        }
        .title {
          font-weight: bold;
          margin: 0.5rem 0;
          font-size: 1.5rem;
        }
        .desc {
          font-size: 1rem;
        }
      }
    }
}


@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 575.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 991.98px) {
  .card10 {
    box-shadow: none;
      .content {
        .post-meta {
          padding: 1rem 0;
          .subtitle {
            font-size: 0.8rem;
            font-weight: bold;
          }
          .title {
            font-weight: bold;
            margin: 0.5rem 0;
            font-size: 1.4rem;
          }
          .desc {
            font-size: 1rem;
          }
        }
      }
  }
}
@media (max-width: 1199.98px) {
}
