@import "../../cutils.scss";
.card7 {
  box-shadow: none;
  .card-left {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 350px;
    img {
      width: 100%;
      object-fit: cover;
    }
    span {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translate(0%, -20%);
      border: none;
      background-color: $base-bg-color;
      padding: 0.25rem 0.5rem;
      background-color: $tag-color-2;
      color: $base-bg-color;
    }
  }
  .content {
    width: 100%;
    margin-left: 1rem;
  }
  .post-meta {
    padding: 1rem 0;
    .title {
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .subtitle {
      overflow: hidden;
      font-size: 1.1rem;
    }
    .author {
      font-size: 1rem;
    }
  }
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
  .card7 {
    flex-wrap: wrap;
    padding: 0;
    .card-left {
      width: 100%;
    }

    .content {
    margin: 0;
      .post-meta {
        .author {
          font-size: 0.85rem;
          margin-top: 1rem;
        }
        .title {
          
        }
        .subtitle {
          font-size: 1rem;
        }

      }
    }
  }
}

@media (max-width: 767.98px) {
  // .card7 {
  //   flex-wrap: wrap;
  // }
}

@media (max-width: 575.98px) {
}
