@import "../../../components/cutils.scss";
header {
  background-color: $base-bg-color;
  height: auto;
  .top-nav {
    min-height: 32px;
    background-color: $header-bg-color;
    color: #fff;
    font-size: 0.8rem;
    .top-nav-ul {
       display: flex;
       li {
         margin: 0.25rem 0.75rem;
         cursor: pointer;
       }
      }
      span {
       margin: 0.25rem 0.75rem;
      }
  }
  .container {
    width: 100%;

    .mid-nav {
      margin: 1.25rem 0;
      justify-content: space-between;
      .mid-left-nav {
        margin: 0.5rem 0.75rem;
        svg {
          height: 14px;
        }
      }
      .mid-mid-nav {
        .header-heading {
          font-family: 'Gelasio', serif;
          font-size: 3rem;
        }
      }
      
      .mid-right-nav {
        ul {
          display: flex;
          li {
            svg {
              height: 18px;
              margin: 1rem 0.75rem;
              cursor: pointer;
            }
          }
        }
        }
      }

      .bottom-nav {
        .bottom-nav-ul {
          li {
            margin: 0.5rem 1rem;
            cursor: pointer;
          }
        }
      }
    }

  }

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 575.98px) {
}
@media (max-width: 767.98px) {
  header {
    .container {
      .top-nav {
        display: none;
      }

      .mid-nav {
        margin: 1.25rem 0;
      justify-content: center;
        .mid-left-nav {
          margin: 0.5rem 0.75rem;
          // display: none;
        }
        .mid-mid-nav {
          .header-heading {
            font-family: 'Gelasio', serif;
            font-size: 5.25vmin;
          }
          .header-date {
            font-size: 2.5vmin;
          }
        }
        
        .mid-right-nav {
          ul {
            display: none;
            li {
              svg {
                height: 18px;
                margin: 1rem 0.75rem;
                cursor: pointer;
              }
            }
          }
          }
        }
}
}
}
@media (max-width: 991.98px) {
}
@media (max-width: 1199.98px) {
}
