@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@500&display=swap');

// General Theme Colors
$accent-color: #55a004;
$tag-color: #E83030;
$tag-color-2: #4C4084;
$bg-color: #000;
$base-bg-color: #ffffff;
$header-bg-color: #000;
$header-text-color: #ffffff;
$header-text-hover-color: #ffffff;
$header-text-hover-bg-color: #000;

// Top Menu Colors
$tm-bg-color: #000;
$tm-text-color: #000;
$tm-text-hover-color: #000;

// Single Page colors
$page-heading-1: #EC3535;
$border-color: #8C8A8B;

// Sub Menu Colors
$sm-bg-color: #000;
$sm-text-color: #000;
$sm-text-hover-color: #000;
$sm-text-hover-bg-color: #000;

// Mega Menu Colors

// Live Search Colors

// Mobile Menu Colors

// Footer Colors
$ft-bg-color: #000;
$ft-text-color: #999999;
$ft-widget-text-color: #000;

// Sub Footer Colors
$sft-bg-color: #000;
$sft-text-color: #000;

// Posts Colors
$post-title-color: #000;
$post-text-color: #000;
$post-heading-color: #000;
$post-bq-color: #000;
$post-author-color: #000;

// Pages Colors

$page-title-color: #000;
$page-text-color: #000;
$page-heading-color: #000;
